<h2>Este es tu pokemon</h2>
<p>Nombre: {{model.nombre}}</p>
<p>Tipo: {{model.tipo}}</p>
<p>Equipo: {{model.equipo}}</p>
<p>Nivel: {{model.nivel}}</p>
{{#link-to 'contactos'}}
<button>Volver</button>
{{/link-to}}